<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>tasks</title>
</head>
<body>
<a href="/tasks/add" class="btn btn-primary">add ne task</a>

<table>
    <thead>
    <tr>
        <th>title</th>
        <th>description</th>
        <th>due date</th>
        <th>status</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}">task title</td>
        <td th:text="${task.description}">task description</td>
        <td th:text="${task.dueDate}">2024-11-18</td>
        <td th:text="${task.status}">pending</td>
        <td>
            <a th:href="@{/tasks/edit-task/{id}(id=${task.id})}" class="btn btn-primary">edit</a> |
            <a th:href="@{/tasks/delete-task/{id}(id=${task.id})}" class="btn btn-danger">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<form action="http://localhost:8080/login" method="get">
    <button type="submit">logout</button>
</form>
</body>
</html>